input.people-form {
      width: 45% !important;
      float: left;
      margin-left: 0.25em;
    }

.row.button {
    text-align: center;
}


button.add-button {
    font-family: $font-family;
    font-weight: 300;
    width: 90%;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 5px;
    color: $main-color;
    transition: all 0.2s ease-in;
    &:hover { background-color: $main-color; color: $main-grey;}
}

