@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* electric green */
/* dark black */
/* charcoal black */
/* dark grey */
/* light grey */
html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif; }

#cartodb-map {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff; }

.left-menu {
  position: absolute;
  z-index: 10;
  height: 100%; }

.menu-button {
  border: 0;
  background-color: transparent;
  font-size: 1.5em;
  margin: .75em;
  color: #52ffaf; }

.leftPanel {
  width: 7em;
  height: 100%;
  display: none;
  background: #484848;
  float: left; }
  .leftPanel .panel {
    background-color: transparent;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .leftPanel .panel h1 {
      font-size: 1.5em;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 400;
      color: #52ffaf;
      letter-spacing: 5px; }
    .leftPanel .panel .tiles {
      height: 5em;
      width: 5em;
      background-color: transparent;
      margin: 1em auto;
      cursor: pointer;
      border-radius: 5px; }
      .leftPanel .panel .tiles .tiles-wrap {
        height: 100%;
        width: 100%; }
      .leftPanel .panel .tiles:hover {
        transition: .15s ease-in; }
        .leftPanel .panel .tiles:hover svg {
          background-color: #52ffaf;
          border-color: #52ffaf; }
        .leftPanel .panel .tiles:hover svg path {
          fill: #484848; }
        .leftPanel .panel .tiles:hover span {
          color: #52ffaf; }
    .leftPanel .panel svg {
      width: 3em;
      height: 3em;
      margin-top: 1em;
      border: 1px solid whitesmoke;
      border-radius: 5px;
      padding: 0.5em; }
    .leftPanel .panel svg path {
      fill: #cccccc; }
    .leftPanel .panel span {
      color: #cccccc;
      font-size: 50%;
      display: block;
      padding-top: 0.25em; }
  .leftPanel .profile-photo {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 2em;
    left: 2.5em; }

.right-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  color: #52ffaf;
  width: 2em;
  background-color: rgba(72, 72, 72, 0.5);
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer; }

.right-panel {
  display: none;
  width: 25em;
  height: 100%;
  position: absolute;
  background-color: rgba(72, 72, 72, 0.85);
  top: 0;
  right: 0; }
  .right-panel .fa-caret-right {
    text-align: left;
    color: #52ffaf;
    font-size: 1.5em;
    margin-top: .75em;
    margin-left: .75em;
    cursor: pointer; }
  .right-panel h5, .right-panel h6 {
    color: #52ffaf;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin: 1em; }
  .right-panel h6 {
    color: #cccccc; }
  .right-panel .line-break {
    margin: 0;
    border-color: #52ffaf; }
  .right-panel .people {
    background-color: rgba(82, 255, 175, 0.85); }

/*# sourceMappingURL=style.css.map */
