@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* electric green */
/* dark black */
/* charcoal black */
/* dark grey */
/* light grey */
html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif; }

.row {
  margin: 0 !important;
  padding-top: 5px; }

.active {
  transition: .15s ease-in; }
  .active svg {
    background-color: #52ffaf;
    border-color: #52ffaf !important; }
    .active svg path {
      fill: #484848 !important; }
  .active span {
    color: #52ffaf !important; }

#cartodb-map {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff; }

.left-menu {
  position: absolute;
  z-index: 10;
  height: 100%; }

.menu-button {
  border: 0;
  background-color: transparent;
  font-size: 1.5em;
  margin: .75em;
  color: #52ffaf; }

.leftPanel {
  width: 7em;
  height: 100%;
  display: none;
  background: #484848;
  float: left; }
  .leftPanel .panel {
    background-color: transparent;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .leftPanel .panel h1 {
      font-size: 1.5em;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 400;
      color: #52ffaf;
      letter-spacing: 5px; }
    .leftPanel .panel .tiles {
      height: 5em;
      width: 5em;
      background-color: transparent;
      margin: 1em auto;
      cursor: pointer;
      border-radius: 5px; }
      .leftPanel .panel .tiles .tiles-wrap {
        height: 100%;
        width: 100%; }
      .leftPanel .panel .tiles:hover {
        transition: .15s ease-in; }
        .leftPanel .panel .tiles:hover svg {
          background-color: #52ffaf;
          border-color: #52ffaf; }
        .leftPanel .panel .tiles:hover svg path {
          fill: #484848; }
        .leftPanel .panel .tiles:hover span {
          color: #52ffaf; }
    .leftPanel .panel svg {
      width: 3em;
      height: 3em;
      margin-top: 1em;
      border: 1px solid whitesmoke;
      border-radius: 5px;
      padding: 0.5em; }
    .leftPanel .panel svg path {
      fill: #cccccc; }
    .leftPanel .panel span {
      color: #cccccc;
      font-size: 50%;
      display: block;
      padding-top: 0.25em; }
  .leftPanel .profile-photo {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 2em;
    left: 2.5em; }

.right-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  color: #52ffaf;
  width: 2em;
  background-color: rgba(71, 71, 71, 0.5);
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer; }

.right-panel {
  display: none;
  width: 25em;
  height: 100%;
  position: absolute;
  background-color: rgba(72, 72, 72, 0.85);
  top: 0;
  right: 0; }
  .right-panel .fa-caret-right {
    text-align: left;
    color: #52ffaf;
    font-size: 1.5em;
    margin-top: .75em;
    margin-left: .75em;
    cursor: pointer; }
  .right-panel h5, .right-panel h6 {
    color: #52ffaf;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin: 1em; }
  .right-panel h6 {
    color: #cccccc; }
  .right-panel .line-break {
    margin: 0;
    border-color: #52ffaf; }
  .right-panel .check-button {
    border: 1px solid #52ffaf;
    background-color: transparent;
    padding: .05em 1em;
    margin-top: .5em;
    color: #52ffaf;
    font-weight: 300;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto; }
    .right-panel .check-button:hover {
      background-color: #52ffaf;
      color: #484848;
      transition: .15s ease-in; }
  .right-panel .right-status {
    text-align: center; }

.friends-header {
  margin-bottom: 50px; }

#friends .friend-list-item .friend-name {
  position: relative;
  bottom: 6px;
  color: #FFF; }
#friends .friend-list-item .btn-xs {
  margin-right: 5px;
  transition: all 0.2s ease-in; }
#friends .friend-list-item #safetyButton {
  background-color: #333333;
  color: #52ffaf; }
  #friends .friend-list-item #safetyButton:hover {
    background-color: #52ffaf;
    color: #333333; }
#friends .friend-list-item #awaitingResponse {
  background-color: transparent;
  color: #cccccc; }
#friends .friend-list-item #okStatus {
  background-color: #52ffaf;
  color: #333333; }
#friends .friend-list-item #helpStatus {
  background-color: #ff133f;
  color: #FFF; }
#friends .friend-list-item #deleteButton {
  background-color: transparent;
  color: #333333;
  transition: all 0.2s ease-in; }
  #friends .friend-list-item #deleteButton:hover {
    color: #df002a; }

input.form-control.add-person {
  width: 45%;
  margin: 10px 0px;
  display: initial;
  background-color: #484848;
  color: #52ffaf;
  border-color: #333333; }
  input.form-control.add-person:focus {
    border-color: #52ffaf; }

.row.button {
  text-align: center; }

.overwrite {
  margin: 0 !important; }

button.add-button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 90%;
  background-color: transparent;
  border: 1px solid #52ffaf;
  border-radius: 5px;
  color: #52ffaf;
  transition: all 0.2s ease-in; }
  button.add-button:hover {
    background-color: #52ffaf;
    color: #484848; }

body#login-page {
  padding: 20px;
  background-color: #2a2a2a; }
  body#login-page .hero-logo {
    margin-top: 100px; }
    body#login-page .hero-logo .tag-line {
      margin-top: 40px;
      color: #52ffaf;
      font-size: 14px;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center; }
  body#login-page #naya-logo {
    width: 300px; }
  body#login-page .login-fields {
    margin-top: 100px !important; }
    body#login-page .login-fields .login-title {
      color: #cccccc;
      font-weight: 400;
      margin-bottom: 20px; }
    body#login-page .login-fields input.form-control {
      margin: 10px 0px;
      background-color: #484848;
      color: #52ffaf;
      border-color: #333333; }
      body#login-page .login-fields input.form-control:focus {
        border-color: #52ffaf; }
    body#login-page .login-fields #forgotPass {
      color: #999;
      transition: all 0.2s ease-in; }
      body#login-page .login-fields #forgotPass:hover {
        color: #FFF; }
    body#login-page .login-fields .loginBtn {
      padding-left: 30px;
      padding-right: 30px;
      background-color: transparent;
      border-color: #52ffaf;
      color: #52ffaf;
      transition: all 0.2s ease-in; }
      body#login-page .login-fields .loginBtn:hover {
        background-color: #52ffaf;
        color: #484848; }

body#locator-page {
  background-color: #333333; }

.mob-nav {
  border-radius: 0px !important;
  border: none !important;
  background-color: #484848 !important; }

.navbar-brand img {
  height: 22px; }

p.catchy-line {
  color: #52ffaf;
  letter-spacing: 6px;
  font-size: 11px;
  margin-top: 11px; }

img.safe_image {
  height: 100px;
  margin-bottom: 30px; }

h1.main-header {
  text-align: center;
  color: #fcfcfc;
  font-weight: 300;
  margin-bottom: 25px; }

.ok_button, .help_button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  font-size: 20px !important;
  background: #41a4f4;
  padding: 20px !important;
  text-decoration: none;
  border-color: transparent;
  font-family: "Open Sans", "Helvetica Neue", sans-serif; }

.ok_button {
  background-color: #52ffaf; }

.help_button {
  background-color: #ff5722;
  color: #fcfcfc;
  margin-bottom: 30px !important; }

.help_button:hover {
  color: #fcfcfc !important; }

p.about_naya {
  font-size: 12px;
  color: #fcfcfc; }

/*# sourceMappingURL=style.css.map */
