@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$main-color: #52ffaf;  /* electric green */
$main-black: #0d0d0d;  /* dark black */
$light-black: #333333;  /* charcoal black */
$main-grey: #484848;  /* dark grey */
$light-grey: #cccccc;  /* light grey */

$font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

html, body {
    height: 100%;
    font-family: $font-family;
}

.row {
    margin: 0 !important;
    padding-top: 5px;
}

.active {
    svg {
        background-color: $main-color;
        border-color: $main-color !important;
        path { fill: $main-grey !important; }
    }

    span { color: $main-color; }
    transition: .15s ease-in;
}

#cartodb-map {
    position: fixed;
    width: 100%;
    height:100%;
    background: #fff;
}

.left-menu {
  position: absolute;
  z-index: 10;
  height: 100%;
}


.menu-button {
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    margin: .75em;
    color: $main-color;
}

.leftPanel {
    width: 7em;
    height: 100%;
    display: none;
    background: $main-grey;
    float: left;

    .panel {
        background-color: transparent;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        h1 {
            font-size: 1.5em;
            font-family: $font-family;
            font-weight: 400;
            color: $main-color;
            letter-spacing: 5px;
        }

        .tiles {
          height: 5em;
          width: 5em;
          background-color: transparent;
          margin: 1em auto;
          cursor: pointer;
          border-radius: 5px;

          .tiles-wrap {
              height: 100%;
              width: 100%;
          }

          &:hover{
            svg {
                background-color: $main-color;
                border-color: $main-color;
            }
            svg path { fill: $main-grey; }
            span { color: $main-color; }
            transition: .15s ease-in;

          }
        }

        svg {
            width: 3em;
            height: 3em;
            margin-top: 1em;
            border: 1px solid whitesmoke;
            border-radius: 5px;
            padding: 0.5em;
        }

        svg path {
            fill: $light-grey;
        }

        span {
            color: $light-grey;
            font-size: 50%;
            display: block;
            padding-top: 0.25em;
        }
    }

    .profile-photo {
        width: 50px;
        height: 50px;
        background-color: red;
        position: absolute;
        bottom: 2em;
        left: 2.5em;
    }
}

.right-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  color: $main-color;
  width: 2em;
  background-color: rgba(28.2%,28.2%,28.2%, 0.5);
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.right-panel {
    display: none;
    width: 25em;
    height: 100%;
    position: absolute;
    background-color: rgba(72, 72, 72, 0.85);
    top: 0;
    right: 0;

    .fa-caret-right {
        text-align: left;
        color: $main-color;
        font-size: 1.5em;
        margin-top: .75em;
        margin-left: .75em;
        cursor: pointer;
    }

    h5, h6 {
        color: $main-color;
        font-family: $font-family;
        text-transform: uppercase;
        margin: 1em;
    }

    h6 {
        color: $light-grey;
    }

    .line-break {
        margin: 0;
        border-color: $main-color;
    }

    .check-button {
      border: 1px solid $main-color;
      background-color: transparent;
      padding: .05em 1em;
      margin-top: .5em;
      color: $main-color;
      font-weight: 300;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background-color: $main-color;
        color: $main-grey;
        transition: .15s ease-in;
      }
    }

    .right-status {
        text-align: center;
    }
}


